
.sign-up {
    height: 100vh;
}

.sign-up section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--first-color);
    background-image: linear-gradient(315deg, var(--first-color) 0%, var(--second-color) 74%);
}

.sign-up section::before,
.sign-up section::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.sign-up section::before{
    clip-path: circle(25% at left 6%);
    background: linear-gradient(135deg, var(--circle-first-color) 10%, var(--circle-second-color) 100%);
}

.sign-up section::after{
    clip-path: circle(25% at right 80%);
    background: linear-gradient(135deg, var(--circle-second-color) 10%, var(--circle-first-color) 100%);
}

.sign-upok {
    position: relative;
    /* left: 80px; */
    padding: 15px 60px 15px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-radius: 10px;
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

.sign-upok h2{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    /* color: #8f2c24; */
    margin-bottom: 10px;
    margin-top: 0;
}

.sign-upok .input-box {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    margin-bottom: 20px;
}

.sign-upok .input-box input {
    position: relative;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: .85em;
    /* color: #3b7ca5; */
    color: black;
    border-radius: 5px;
    /* background: #fff; */
    background: rgba(0, 0, 0, 0.1);
    /* background: transparent; */
    border: none;
    border-right: 2px solid rgb(11, 59, 191);
    border-left: 2px solid rgb(131, 136, 151);
    margin-bottom: 10px;
    font-weight: 600;
}

.sign-upok .input-box input:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

.sign-upok .input-box ::placeholder {
    color: black;
}

.sign-upok .input-box #btn {
    outline: none;
    color: #f2f2f2;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 15px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
}

.sign-upok .input-box #btn:hover {
    transform: scale(0.98);
}

.sign-upok .seventh {
    display: flex;
    justify-content: center;
    /* padding-right: 10px; */
}

.sign-upok .group a {
    font-size: 1.05em;
    color: #000000;
    /* text-decoration: none; */
}

.sign-upok .group a:hover {
    color: #0d38ac;
    text-decoration: none;
}